<p id="notice"><%= notice %></p>

<p>
  <strong>Answer 1 text:</strong>
  <%= @answer.answer_1_text %>
</p>

<p>
  <strong>Answer 2 text:</strong>
  <%= @answer.answer_2_text %>
</p>

<p>
  <strong>Answer 3 text:</strong>
  <%= @answer.answer_3_text %>
</p>

<p>
  <strong>Answer 4 text:</strong>
  <%= @answer.answer_4_text %>
</p>

<p>
  <strong>Answer 5 text:</strong>
  <%= @answer.answer_5_text %>
</p>

<p>
  <strong>Answer 6 text:</strong>
  <%= @answer.answer_6_text %>
</p>

<p>
  <strong>Answer 7 text:</strong>
  <%= @answer.answer_7_text %>
</p>

<p>
  <strong>Question:</strong>
  <%= @answer.question %>
</p>

<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
